.curso-portada

    .row.align-items-center

        .col-12.col-lg-6

            h3.curso-subtitulo Proceso Integral de Diseño de un Producto  
            h1.curso-titulo Métodos y herramientas de diseño

            .brand-line-primary

            p.curso-descripcion El contenido de la presente unidad, permitirá reconocer los aspectos relacionados con la definición de métodos y el uso de herramientas para el diseño de productos
            
            a.curso-btn-iniciar.btn.btn-light(href="main.html")
                span Iniciar Curso

        .col-12.col-lg-6
            .d-none.d-lg-block
                img(src="assets/images/header/header_media.svg")