include ../mixins/functions
+pageHeader("Introducción", "assets/images/header/header_media.svg")

.container#page-introduccion

    .header-ecored
        h1 1. Procesos de Manufactura.

    .jumbotron.bg-white 
      .row
        .col-12
          p En la historia del ser humano, el término de manufactura ha estado ligado a la mayor cantidad de actividades que ha realizado, ya que se refiere a la transformación de la materia prima disponible en diferentes estados, en productos terminados de acuerdo a las necesidades de un mercado o las propias de las personas.

      .row.justify-content-center.align-items-center.my-6
        .col.d-flex.justify-content-center
          img(src="assets/images/pages/tema1/info_01.svg", alt="").img-fluid

      .row
        .col-12
          p En sus inicios, la manufactura, dependía totalmente de lo que el ser humano pudiera realizar con sus manos, a medida que fue evolucionando y aprendiendo del entorno,  iba creando herramientas que le permitían aumentar el nivel de uso y transformación de los materiales disponibles en la naturaleza, fabricando nuevas herramientas, instrumentos de caza y artículos de protección de los elementos de la naturaleza hasta llegar a relacionar el termino con la producción industrial, la cual hace referencia a una fabricación en escala de diferentes productos, la cual  tuvo un gran impulso a partir de 1784 en donde se produjo la primera revolución industrial, con la introducción de nuevos equipos de producción impulsados por vapor,  86 años después; en 1870 se dio una nueva revolución industrial la cual incorporo  la energía eléctrica y la división de tareas en los procesos productivos, lo que llevaba a ser más rentable la operación, aumentando la cantidad de unidades manufacturadas.

          p En 1969 se revoluciono nuevamente la industria con la vinculación de los circuitos electrónicos y el uso de la informática para la automatización de algunos procesos industriales, masificando la producción y desplazando en cierta medida la mano de obra tradicional. En la actualidad la industria ha sufrido una transformación abismal, con la cuarta revolución industrial o la revolución 4.0, la cual incorpora la biotecnología, la nanotecnología, robótica, la computación cuántica, impresión en tercera dimensión o 3D, el internet de las cosas, entre muchos más avances, han cambiado la perspectiva y el alcance de la manufactura, ya que la automatización de los procesos y la inteligencia artificial han llevado al ser humano a estados y desarrollos imaginados. 
      
      .row.justify-content-center.align-items-center.my-6
        .col.d-flex.justify-content-center
          img(src="assets/images/pages/tema1/info_02.svg", alt="").img-fluid

      .row
        .col-12
          .jumbotron
            .row.justify-content-center.align-items-center
              .col-auto
                img(src="assets/images/pages/tema1/icon_01.svg", style="max-width: 120px").img-fluid.mb-3.mb-md-0
              .col-10
                p.mb-0 La información tiene una dinámica y un flujo constante, generándose permanentemente desde el interior y exterior de la organización, la cual es importante tener en cuenta para la toma de decisiones.


    .jumbotron.bg-white 
      .row
        .col-12 
          .header-ecored#tema1_1
            h2 1.1 Tipos de Proceso de Manufactura         
                 

      .row.justify-content-center.align-items-center        
        .col
          p Dentro de los procesos de manufactura, se encuentran diferentes técnicas que van acorde a la actividad de la organización, a los requerimientos de producción del producto desarrollado.  Entre los tipos y técnicas, se pueden definir en dos esenciales: 
          ul
            li Operaciones de procesamiento. 
            li Operaciones de ensamble. 
          p Los dos tipos de operaciones, pretenden transformar la materia prima, agregándole valor en diferentes momentos, con el fin de entregar un producto terminado que cumpla con los requerimientos del mercado y del cliente final. 

      .row.justify-content-center.align-items-center.my-5
        .col.d-flex.justify-content-center
          img(src="assets/images/pages/tema1/info_03.svg", alt="").img-fluid

      .row
        .col-12
          .header-ecored#tema1_1_1
            h3 1.1.1 Operaciones de Procesamiento

        .col-12
          p Una operación de proceso hace que un material de trabajo pase de un estado de acabado a otro más avanzado que está más cerca del producto final que se desea.  Una operación de procesamiento utiliza energía para modificar la forma, las propiedades físicas o la apariencia de una pieza, a fin de agregar valor al material. “Las formas de la energía incluyen la mecánica, térmica, eléctrica y química” (Groover, Mikell P. 2007)

          p Dada la especialización de las operaciones de procesamiento, pueden clasificarse en: 

        .col-12.my-5
          .iconHeader
            .iconHeader__bullet
              img(src="assets/images/pages/tema1/icon_header_01.svg", alt="")
            .iconHheader__body
              h2.m-0 Operaciones de formado     
       
          p Se caracteriza por la aplicación directa de calor o fuerzas mecánicas, también se puede trabajar con la combinación de las dos anteriores, dependiendo de las características y forma del material.
          
          p Las operaciones de formado incluyen: modelado, procesamiento de partículas, procesos de deformación y de remoción de material. Un ejemplo de una operación de formado es el torneado.

      .row.justify-content-center.align-items-center 
        .col-sm-9.col-md-5.my-5.d-flex.justify-content-center
          img(src="assets/images/pages/tema1/img_02.svg", alt="").img-fluid

        .col
          p #[strong Torneado]
          p Es una operación mecánica con desprendimiento de viruta y se usa para fabricar piezas de revolución, es decir, piezas de perfil circular (forma circular). Utilizando esta técnica de torneado, se pueden realizar las siguientes operaciones:
          ul
            li Cilindrado.
            li Refrendado.
            li Pulido.
            li Torneado interior o mandrinado.
            li Roscado.
            li Taladrado y barrenado.
            li Tronzado y sesgado.
            li Moleteado.
            li Conicidades.
            li Piezas esféricas o semiesféricas.     

      .row
        .col-12.my-5
          .iconHeader
            .iconHeader__bullet
              img(src="assets/images/pages/tema1/icon_header_01.svg", alt="")
            .iconHheader__body
              h2.m-0 Operaciones de mejoramiento de una propiedad     
       
          p Este es utilizado para mejorar las propiedades originales del material, ya sean mecánicas o físicas, sin alterar la forma de la pieza a trabajar. Los tratamientos térmicos, hacen parte de los más indicados mejoramientos de propiedades de los materiales. 
      
        .col-12
          .iconHeader
            .iconHeader__bullet
              img(src="assets/images/pages/tema1/icon_header_01.svg", alt="")
            .iconHheader__body
              h2.m-0 Operaciones de procesamiento de una superficie     
       
          p Consisten en operaciones sobre la superficie de las piezas o materiales con los cuales se trabajarán, tales como: limpieza, tratamientos de una superficie, procesos de recubrimiento con una película.            